*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container,
#form,
#inputBox,
#signUpBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    height: 100vh;
}

#form {
    height: 15rem;
    width: 60%;
    flex-direction: column;
    gap: .8rem;
}

#inputBox,
#signUpBtn {
    width: 40%;
    border-radius: .8rem;
    height: 3.6rem;
}

#inputBox {
    border: 2px solid grey;
}

#input {
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 90%;
    padding: 0 .6rem;
}

#signUpBtn {
    color: white;
    font-size: 1.2rem;
    padding: .6rem;
    background-color: rgb(91, 91, 247);
    cursor: pointer;
    transition: all .5s;
}

#signUpBtn:hover {
    transform: translateY(-3px);
}

#signUpBtn:active {
    transform: translateY(0px);
}